#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
  text-align: center;
}

.menu:hover {
  background-color: #f8f9fa;
  color: rgb(76, 73, 73);
  font-weight: 5;
  /* transition: background-color 0.2s ease, color 0.2s ease; */
}

.menu .i:hover {
  size: 
}

.menu {
  border-radius: 0.5rem; /* or use 8px, 1rem, etc. */
  transition: background-color 0.2s ease, color 0.2s ease;
}
